.cabecalho{
    display: flex;
    height: 100px;
    background-color: blueviolet;
}
.cabecalho h1{
    margin-top: 0px;
}



.Footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  

.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
    font-size: 24px;
 
  }
  
  